.studyItem{
  background-color:#fff;
  border-radius:15px;
  width:94%;
  max-width:400px;
  border:1px solid #E5E7EB;
  padding:15px;
}

.row{
  display:flex; 
  align-items: center;
  justify-content: space-between;
}

.row:not(:last-child){
  margin-bottom:8px;
}

.title{
  font-size:23px;
  font-weight:600;
  margin-left:5px;
}

.row2{
  border-bottom:1px solid #333333;
  font-size:20px;
}

.minutes{
  margin-right:70px;
}

.row3{
  font-size:20px;
}

.memo{
  text-align: left;
}

.buttonSection{
  display:flex;
  justify-content:center;
  gap:10px;
}

.editRow{
  display:flex;
  align-items:center;
  justify-content: center;
  margin-bottom:7px;
  
}

.inputArea{
  /* margin-left:5px; */
  width:200px;
  resize:none;
  /* height:25px; */
  font-size:18px;
  box-sizing:border-box;
  padding:5px;
  /* border-width:3px; */
}

.label{
  width:60px;
  display:block;
  /* height:50px; */
  font-size:20px;
  margin-right:5px;
}