/* .welcome {
  font-size: 30px;
  width: 220px;
  margin: 0 auto;
  padding: 60px 0 20px 0;
  color: #1f2937;
} */

.wrapper {
  /* padding-bottom: 30px; */
  width:100%;
  /* display:flex;
  flex-direction: column;
  align-items:center; */
  flex-grow:1;
  height:100%;
  margin-bottom: 40px;
}
